@import "bourbon/bourbon";
@import "neat/neat";

$fontStyle: 'News Cycle', sans-serif;
$gray: #7F7D7B;
$green: #A6E22D;

.container {
  padding: 25px 200px;
  margin: -112px auto;
  font-family: $fontStyle;
}

form {
  border: 4px solid $green;
  border-radius: 3px;
  width: 682px;
  padding: 25px;

}

.verticalText {
  transform: rotate(270deg);
  transform-origin: 1.3em 2.8em;
  font-size: 5em;
  margin-bottom: -62px;
}

.horizontalText {
  font-size: 5em;
  position: relative;
}

.horizontalText::before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f21b";
  left: -64px;
  top: 63px;
  font-size: 50px;
  color: $green;
}

input {
  width: 300px;
  border-radius: 3px;
  border: 1px solid $gray;
  margin: 3px;
  outline-color: $green;
}

button {
  background-color: $green;
  color: white;
  border-radius: 3px;
  border: 1px solid $green;
  width: 615px;
  margin-top: 25px;
  outline: none;
}

.belowForm {
  @include outer-container();
}

// .contacts li {
//   height: 50px;

// }


.contacts {
  @include span-columns(7);
  list-style: none;
  margin-left: -14px;
  margin-top: 40px;


}

.sidebarNames {
  @include span-columns(5);
  border: 2px solid $gray;
  list-style: none;
  margin-top: 40px;
  border-radius: 3px;
  width: 215px;
  padding: 25px;
  font-size: 18px;
  color: $gray;

}

.sidebarFullName {
  width: 100%;
  cursor: pointer;
}

.sidebarFullName:hover {
  color: black;
  font-weight: bold;
}

.tag {
  color: $gray;
  font-size: 10px;
  top: 5px;
  text-decoration: none;

}


.contactItem {
  // height: 300px;
  overflow: hidden;
}

.contactCard {
  border: 2px solid $gray;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 20px;
  // height: 400px;
  // overflow: hidden;
}



.fullName {
  width: 100%;
  font-size: 35px;
  margin-bottom: 20px;

    .remove {
      color: white;
      background-color: red;
      border-radius: 3px;
      padding: 0px 9px;
      float: right;
      font-size: 17px;
      margin-top: 16px;
      cursor: pointer;
    }
.remove:hover {

  content: "delete this contact";
  color: black;
}
}


.social {
    display: -webkit-inline-box;
}

.email {
  border: 1px solid $gray;
  border-radius: 3px;
  padding-left: 25px;
  position: relative;
}

.email::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f003";
  left: 5px;
  font-size: 12px;
  margin-top: 9px;
  color: orange;
}

.phoneNumber {
  border: 1px solid $gray;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 15px;
  margin-left: 30px;
  font-size: 14px;
  position: relative;
}

.phoneNumber::before {
  position: absolute;
  font-family: FontAwesome;
  left: 5px;
  margin-top: 9px;
  font-size: 14px;
  content: "\f095";
  color: $green;
}

.twitter {
  border: 1px solid $gray;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.twitter::before {
  position: absolute;
  font-family: FontAwesome;
  left: 5px;
  margin-top: 9px;
  content: "\f099";
  color: #55ACEE;
  font-size: 12px;
}

.linkedin {
  border: 1px solid $gray;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 5px;
  position: relative;
}

.linkedin::before {
  position: absolute;
  font-family: FontAwesome;
  left: 5px;
  margin-top: 9px;
  content: "\f0e1";
  font-size: 12px;
  color: #0F7DB7;
}























